---
title: Research Intent Ontology
description: Bringing on the future of research on the Web.
kind: project
---
<div class="group">

  <h1><%= @item[:title] %></h1>

  <div class="bd">

    <p class="big"><%= @item[:description] %></p>

    <ul>

      <li><%= link_to('/static/solutions/specifications/research-intent-ontology/rio-w3c.*', 'A W3C draft specification') %></li>
      <li>more</li>

    </ul>

  </div>

</div>
